@import "@picocss/pico";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background:
		radial-gradient(#e2e8f0 3px, transparent 4px),
		radial-gradient(#e2e8f0 3px, transparent 4px),
		linear-gradient(#f8fafc 4px, transparent 0),
		linear-gradient(45deg, transparent 74px, transparent 75px, #e2e8f0 75px, #e2e8f0 76px, transparent 77px, transparent 109px),
		linear-gradient(-45deg, transparent 75px, transparent 76px, #e2e8f0 76px, #e2e8f0 77px, transparent 78px, transparent 109px),
		#f8fafc;
	background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
	background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}